* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

/* "Playfair Display", */

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    /* line-height: normal; */
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    height: auto;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding: 30px 0;
}

.padding_0 {
    padding: 0px;
}

/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/bg-2.png);
    /* background-color: antiquewhite; */
    height: 50em;
    background-size: 100%;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    margin-bottom: 30px;
}

.header_bg .navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 10px;
    font-size: 17px;
    color: #a9a8a8;
    position: relative;
    border-radius: 5px;
    text-transform: uppercase;

}

.navbar-expand-lg .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #6f4e37;
    bottom: -5px;
    left: 50%;
    transition: all 0.3s ease-in-out;
}



.navbar-expand-lg .navbar-nav .nav-link:hover::before {
    width: 100%;
    left: 0;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #6f4e37;
    font-weight: 600;
}

.navbar-brand {
    margin: 0px;
    float: right;
}

.navbar-brand img {
    width: 200px;
    height: 65px;
    object-fit: cover;
    background-color: #d5d3ac;
    border-radius: 0px 0px 20px 20px;
}

.navbar {
    padding: 0px 50px;
}

.user_icon {
    padding-right: 15px;
}

.login_bt {
    width: 210px;
    display: flex;
    justify-content: center;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    padding: 0px 25px 0px 25px;
    border-radius: 15px;
    background-color: #6F4E37;
}

/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding: 30px 0px;
}

.banner_taital_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.banner_taital {
    width: 100%;
    font-size: 70px;
    color: #252525;
    font-weight: 800;
}

.tasty_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #e38773;
    font-weight: bold;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #6F4E37;
    margin: 0px;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.about_bt {
    width: 175px;
    float: left;
}

.about_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 12px;
    color: #6f3e37;
    background-color: #d5d3ac;
    border-radius: 5px;
    border: 1px solid #6f3e37;
    text-transform: uppercase;
}

.about_bt a:hover {
    color: #fefefd;
    background-color: #6F4E37;
}

.callnow_bt {
    width: 175px;
    float: left;
}

.callnow_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    background-color: #d48272;
    text-transform: uppercase;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
}

.callnow_bt a:hover {
    color: #fefefd;
    background-color: #6F4E37;
}

.callnow_bt.active a {
    color: #fefefd;
    background-color: #6F4E37;
}

#banner_slider a.carousel-control-prev {
    left: -40px;
    top: 230px;
}

#banner_slider a.carousel-control-next {
    right: 0px;
    top: 230px;
    /* left: 20px; */
    color: #fefefd;
    background-color: #6F4E37;
}

#banner_slider .carousel-control-next,
#banner_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #6F4E37;
    background-color: #efefef;
}


#banner_slider .carousel-control-next:focus,
#banner_slider .carousel-control-next:hover,
#banner_slider .carousel-control-prev:focus,
#banner_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #6F4E37;
}

.banner_img {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 10px;
}


/* banner section end */



.image .coffee_gal {
    /* overflow: hidden; */
    position: relative;
    height: 200px;
}

.image .coffee_gal img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 300px;
    object-fit: cover;
}

.image .coffee_gal:hover img {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}



/* coffee section start */

.coffee_section {
    width: 100%;
    float: left;
}

.bg-col {
    /* background-color: #6f4e3716; */
    background-color: rgba(250, 235, 215, 0.4);
}

.coffee_taital {
    width: 100%;
    float: left;
    font-size: 35px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.coffee_section_2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

.bulit_icon {
    width: 100%;
    text-align: center;
}

.image .coffee_img {
    overflow: hidden;
    border: 5px solid #6f4e37;
    border-radius: 20px;
}

.image .coffee_img img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    height: 300px;
    object-fit: cover;
    float: left;
}

.image .coffee_img:hover img {
    transform: scale(1.1);
    box-shadow: 6px 8px 16px rgba(0, 0, 0, 0.5);
}

.types_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #3b3b3b;
    text-align: left;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;
}

.price {
    padding-top: 20px;
    font-weight: 600;
    font-size: 20px;
}

.looking_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    margin: 0 0 20px 0;
    text-align: left;
    padding: 0 8px;
}

.read_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #d78373;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d78373;
    text-transform: uppercase;
    padding: 8px;
}

.read_bt a:hover {
    color: #3b3b3b;
    border: 1px solid #3b3b3b;
}

#main_slider a.carousel-control-prev {
    left: 0px;
    top: 95px;
}

#main_slider a.carousel-control-next {
    right: 0px;
    top: 95px;
    color: #fefefd;
    background-color: #6F4E37;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #6F4E37;
    background-color: #efefef;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #6F4E37;
}


#gallery_slider a.carousel-control-prev {
    left: 0px;
    top: 105px;
}

#gallery_slider a.carousel-control-next {
    right: 0px;
    top: 95px;
    color: #fefefd;
    background-color: #6F4E37;
}

#gallery_slider .carousel-control-next,
#gallery_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #6F4E37;
    background-color: #efefef;
}

#gallery_slider .carousel-control-next:focus,
#gallery_slider .carousel-control-next:hover,
#gallery_slider .carousel-control-prev:focus,
#gallery_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #6F4E37;
}



/* coffee section end */


/* about section start */

.about_section {
    width: 100%;
    float: left;
    padding: 30px 0;
}

.about_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 35px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.about_taital_box {
    width: 500px;
    float: left;
    background-color: #ffffff;
    background: transparent;
    height: auto;
    padding: 40px 20px 30px 20px;
}

.about_img {
    object-fit: contain;
}

.about_img {
    overflow: hidden;
}

.about_taital_1 {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #3b3b3b;
    font-weight: 700;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232222;
    margin: 0px;
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 40px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #6F4E37;
    color: #fefefd;
    background-color: #6f4e37;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.readmore_btn a:hover {
    color: #6F4E37;
    background-color: #d5d3ac;
}

/* about section end */

/* client section start */

.client_section {
    width: 100%;
    float: left;
    background-image: url(../images/client-bg.png);
    height: auto;
    background-size: 100% 100%;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.client_taital_main {
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.client_left {
    width: 20%;
    float: left;
}

.client_img {
    width: 90%;
}

.client_img img {
    border-radius: 50%;
    width: 170px;
    background-color: rgb(226, 218, 218);
}

.client_right {
    width: 80%;
    float: left;
    /* padding-top: 20px; */
    padding-left: 80px;
}

.moark_text {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #3b3b3b;
    font-weight: bold;
}

.client_text {
    width: 75%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    margin: 0px;
}

/* client section end */

/* blog section start */

.blog_section {
    width: 100%;
    float: left;
    background-color: rgba(250, 235, 215, 0.4);
}

.blog_section_2 {
    width: 100%;
    padding-top: 60px;
    margin: 0 auto;
}

.blog_box {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 3px 5px 10px 0px #4c3423;
    padding: 0px 0px 30px 0px;
    position: relative;
}


.blog_img {
    width: 100%;
    height: 300px;
}

.blog_img img {
    height: 100%;
    object-fit: cover;
}


.date_text {
    width: 100px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: red;
    position: absolute;
    top: -10px;
    left: 5px;
}

.prep_text {
    width: 100%;
    font-size: 22px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
}

.lorem_text {
    width: 100%;
    font-size: 16px;
    color: #3b3b3b;
    margin: 0px;
    padding: 0px 20px;
}

/* blog section end */

.comment {
    font-size: 16px;
}

.cust-name {
    font-size: 18px;
}

/* contact section start */

.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 35px;
    color: #252525;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contact_section_2 {
    width: 100%;
    padding-top: 55px;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 90%;
    min-width: 200px;
    /* margin: 0 auto; */
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2e2e2d;
    border: 0px;
    background-color: #efefef;
    padding: 11px 20px;
    margin-top: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

input.mail_text::placeholder {
    color: #2e2e2d;
}

.massage-bt {
    color: #2e2e2d;
    width: 100%;
    font-size: 16px;
    background-color: #efefef;
    padding: 20px 20px 0px 20px;
    border: 0px;
    height: 70px;
    margin-top: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

textarea#comment.massage-bt::placeholder {
    color: #2e2e2d;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #6f3e37;
    background-color: #d5d3ac;
    border-radius: 5px;
    border: 1px solid #6f3e37;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}

/* contact section end */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    height: auto;
    /* background-image: url(../images/footer-bg.png); */
    background-color: #6f4e37;
    background-size: 100% 100%;
    padding: 30px 0px;
}

.footer-logo img {
    width: 300px;
    height: 65px;
    margin-left: -5px;
    margin-bottom: 20px;
    object-fit: cover;
}

.address_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fefefd;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}

.footer_text {
    margin: 0;
    font-size: 18px;
    color: #fefefd;
}

.location_text {
    width: 100%;
    padding-top: 30px;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
}

.location_text li {
    font-size: 18px;
    color: #ffffff;
    padding: 0px 0px 5px 0px;
}

.location_text li a {
    color: #ffffff;
}

.link-text {
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.links a {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.links li {
    padding: 5px 0;
    font-size: 18px;
}

.pad {
    padding-left: 20%;
}

.padding_left_10 {
    padding-left: 10px;
}

.social_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon {
    width: 100%;
    /* float: right;
    text-align: right; */
}

.footer_social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_social_icon li {
    float: left;
}

.footer_social_icon li a {
    float: left;
    padding: 5px 10px;
    background-color: #fff;
    color: #6f4e37;
    border-radius: 100%;
    font-size: 19px;
    margin-right: 5px;
    width: 44px;
    text-align: center;
    margin-top: 10px;
}

.update_mail {
    color: #3b3b3b;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    background-color: #efefef;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 20px;
    border: 0px;
    border-radius: 5px 0 0 5px;
}

textarea#comment.update_mail::placeholder {
    color: #3b3b3b;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.subscribe_bt {
    width: 70px;
    float: left;
    padding-top: 20px;

}

.subscribe_bt a {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
    padding: 13px 0px 14px 0px;
    background-color: #d07d6b;
    text-transform: uppercase;
    text-align: center;

    border-radius: 0 5px 5px 0;
}

.subscribe_bt a:hover {
    color: #363636;
    background-color: #d07d6b;
}

/* footer section end */

/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #4c3423;
    /* background-color: #d5d3ac; */
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fff;
    /* color: #6f4e37; */
    text-align: center;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}

.copyright_text a {
    color: #fff;
    /* color: #6f4e37; */
}

/* copyright section end */

/* My Css */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.swiper {
    width: 600px;
    height: 300px;
}

.image .coffee_gal:hover img {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card-img {
    height: 200px;
}

.card-img-overlay {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-img-overlay:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.image img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    height: 200px;
}

.image:hover img {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.carsel .carousel-item.active,
.carsel .carousel-item-next,
.carsel .carousel-item-prev {
    display: flex;
}

.carsel .carousel-item-end,
.carsel .carousel-item-start {
    transform: translateX(0);
}

/* for gallery */
.gall .carousel-item.active,
.gall .carousel-item-next,
.gall .carousel-item-prev {
    display: flex;
}

.gall .carousel-item-end,
.gall .carousel-item-start {
    transform: translateX(0);
}

.star_rating i.special-star {
    color: yellow;
    text-shadow:
        1px 1px 0 #FFD700,
        -1px -1px 0 #FFD700,
        -1px 1px 0 #FFD700,
        1px -1px 0 #FFD700;
}

.star_rating i {
    color: #FFD700;
    margin-right: 5px;
}

.margin_top90 {
    margin-top: 90px;
}

.swiper-button-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #6F4E37;
    background-color: #efefef;
}

.swiper-button-next {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #efefef;
    background-color: #6F4E37;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 60px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 60px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade-in-text {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image-number {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
}


.form-select {
    width: 100%;
    padding: 10px;
    margin-block: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* single post */

#single-post {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    /* background-color: #f9f9f9; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#single-post h2 {
    font-size: 32px;
    font-weight: 600;
    /* padding-inline: 20px; */
}

#single-post p {
    font-size: 18px;
    line-height: 1.6;
    color: black;
}

#post-date {
    font-size: 14px;
    color: #888;
    margin: 10px 0;
    /* padding-inline: 20px; */
}

#post-image {
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
}

#back-btn {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    border: 1px solid #6F4E37;
    color: #fefefd;
    background-color: #6f4e37;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}



.comment-box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    /* background-color: rgba(250, 235, 215, 0.4); */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}


.comment-box h2,
.comment-box h3 {
    margin-bottom: 10px;
}

form {
    max-width: 800px;
    padding-inline: 40px;
    margin: 0 auto;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none;
}

.comm_txt {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sub-btn {
    width: 120px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #6f3e37;
    background-color: #d5d3ac;
    border-radius: 5px;
    border: 1px solid #6f3e37;
}


/* .comment {
    margin-top: 20px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.comment .name {
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.comment span {
    margin-left: 10px;
    font-weight: 200;
} */

.reply_btn {
    height: 50px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 50px;
}